body {
  text-align: center;
  color: aliceblue;
  font-family: sans-serif;
  padding: 20px;
  background-image: url(fondo.jpg);
}

.image-container img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 20px;
  transition: transform 0.3s, filter 0.3s;
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 225px; 
}

.zoomed {
  transform: scale(1.5);
}

.filter-btn {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #247e16;
  transform: scale(1.05); 
}
